body {
  font-family: "Avenir Next";
  margin: 0;
}

#back-btn {
  float: left;
}

li {
  display: inline;
  float: right;
  padding-right: 2.5%;
}

a {
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Avenir Next";
}

a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
  margin-top: 5%;
}

h1 {
  text-align: center;
}

#container {
  width: 70%;
  margin: auto 15%;
}

p {
  text-align: justify;
}

button {
  border: black solid 2px;
  background-color: white;
  padding: 2%;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-left: 41.5%;
  margin-top: 3%;
}

button:hover {
  color: white;
  background-color: black;
}

button:active {
  background-color: silver;
}

#prompt-section {
  margin: 10% auto;
}

#prompt {
  color: slategray;
}

h6 {
  font-weight: normal;
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
}

#closeListBtn {
  display: none;
}

#listDiv {
  text-align: center;
}

#container {
  padding-bottom: 20%;
}

#container a {
  display: block;
  text-transform: none;
  font-weight: normal;
  line-height: 1.6;
}

#container ul {
  width: 100%;
  /* margin: 0 20%; */
  padding-left: 0;
  margin-bottom: 20%;
}

#container li {
  padding: 3%;
  width: 100%;
  text-align: center;
  border: solid black 2px;
  margin-bottom: 2%;
}

hr {
  margin: 10%;
}

#bottomline {
  background-color: black;
  height: 100px;
}

/* ------------------------------------------------------ */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
  float: none;
  text-transform: uppercase;
  font-weight: 600;
}

.overlay a:hover,
.overlay a:focus {
  color: white;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

#hamburger {
  font-size: 5em;
  cursor: pointer;
  color: black;
  display: none;
  z-index: 1;
  margin-top: -5%;
  position: absolute;
}

@media screen and (max-width: 800px) {
  #top-nav li {
    display: none;
    padding: 0 2% 0 0;
    margin-top: 2%;
  }

  #hamburger {
    display: block;
    padding-left: 2%;
  }

  button {
    margin-left: 30%;
  }

  #bottomline {
    margin-top: 15%;
  }
}
