html {
  scroll-behavior: smooth;
}

body {
  font-family: "Avenir Next";
  margin: 0;
}

#top-nav {
  position: absolute;
  z-index: 3;
  width: 100%;
}

#top-nav a {
  color: white;
  text-decoration: none;
  float: right;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 2.5%;
}

#top-nav a:hover {
  text-decoration: underline;
}

#landing img {
  width: 100%;
  z-index: 0;
  filter: brightness(40%);
}

#title-text {
  position: absolute;
  color: white;
  margin: 18% 25%;
  z-index: 1;
  text-shadow: 0px 0px 50px black;
}

#title-text p {
  margin-bottom: 5%;
}

#title-text p:hover {
  background-color: black;
}

#phone-title-text {
  display: none;
}

#title-text a {
  margin-left: 40%;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

#landing a:hover {
  text-decoration: underline;
}

h1 {
  text-transform: uppercase;
  font-size: 4em;
  margin-bottom: 0;
  white-space: nowrap;
}

p {
  line-height: 1.6;
}

#main {
  margin: 0 10% 0 10%;
  width: 80%;
}

#main p {
  text-align: center;
  margin: 0 auto 7% auto;
  padding-top: 7%;
  width: 60%;
}

#main a {
  text-align: center;
}

#diy {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 37%;
  margin-bottom: 15%;
  padding: 1%;
  border: black solid 2px;
}

#diy:hover {
  color: white;
  /* text-decoration: underline; */
  background-color: black;
}

#main img {
  width: 31%;
  vertical-align: -webkit-baseline-middle;
}

#toggle-view {
  width: 30%;
  margin: 3% 35%;
  height: 70px;
}

button {
  padding: 2% 5% 5% 5%;
  text-align: center;
  width: 45%;
  height: 50px;
  font-family: "" Libre Baskerville ", serif";
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
}

#tileViewButton {
  background-color: black;
  color: white;
}

#listViewButton {
  background-color: white;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  display: inline;
  padding: 0 2% 0 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 20%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 10px;
  vertical-align: middle;
  width: 100%;
  box-shadow: 0px 0px 15px silver;
}

.column a {
  text-decoration: none;
  color: grey;
}

.column img:hover {
  outline: solid 5px #363636;
  outline-offset: -5px;
}

.column a:hover {
  text-decoration: underline;
}

#gallery {
  margin: 0 auto 0 auto;
  text-align: center;
  width: 80%;
}

.caption {
  font-style: italic;
  position: relative;
}

#list-view {
  width: 85%;
  margin: 0 7.5%;
  display: none;
}

#list-view li {
  display: inline;
}

#list-view a:hover {
  font-weight: 600;
}

#list-view a {
  color: black;
  font-style: italic;
  font-size: 3em;
}

/* ***************************************************************************** */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
  float: none;
  text-transform: uppercase;
  font-weight: 600;
}

.overlay a:hover,
.overlay a:focus {
  color: white;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

span {
  font-size: 5em;
  cursor: pointer;
  color: black;
  display: none;
  z-index: 1;
  margin-top: -5%;
  position: absolute;
}

#back-to-top {
  color: black;
  text-decoration: none;
  display: block;
  position: fixed;
  bottom: 5%;
  left: 2%;
  font-size: 3em;
}

@media screen and (max-width: 1000px) {
  #main img {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }

  #landing p {
    display: none;
  }

  #landing img {
    filter: none;
  }

  #landing a {
    display: none;
  }

  #phone-title-text {
    display: block;
  }

  #phone-title-text h1 {
    display: block;
    font-size: 2em;
    text-align: center;
  }

  #main p {
    width: 100%;
    text-align: left;
  }

  h1 {
    display: none;
  }

  #top-nav li {
    display: none;
    padding: 0 2% 0 0;
    margin-top: 2%;
  }

  #main img {
    width: 100%;
  }

  span {
    display: block;
    padding-left: 2%;
  }

  button {
    font-size: 1em;
  }

  #list-view {
    width: 90%;
    margin: 0 5%;
  }

  #list-view li {
    display: inline;
  }

  .column img:hover {
    box-shadow: -2px 2px 10px silver;
  }

  .column a:hover {
    text-shadow: none;
  }

  #list-view a {
    color: black;
    font-style: italic;
    font-size: 1.25em;
  }

  #diy {
    margin: 5% 0 10% 15%;
  }

  ul {
    padding-top: 7%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
